@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.title_txt {
  margin-top: 2%;
  text-align: center;
}
.title {
  margin-bottom: 2%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 2%;
}
#img_top_left,
#img_top_right,
#img_bot_left,
#img_bot_right {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.top_left,
.top_right,
.bot_right,
.bot_left {
  position: relative;
}
.checkbutton {
  width: 8vw;
  height: 3vh;
  margin: 2% 1% 0 0;
  background: none;
  border-radius: 8px;
  border-width: 1.5px;
  -webkit-box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
  box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
}
.search_input {
  margin: auto;
  width: 15vw;
  height: 2.5vh;
  margin-top: 1%;
  background: none;
  border-radius: 4px;
  border: 1.5px solid #000;
  -webkit-box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
  box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
}
input[type="url"], select {
  padding-left: 12px;
  box-sizing: border-box;
}
.search_btn {
  width: 7vw;
  height: 2.5vh;
  background: none;
  border-radius: 3px;
  border-width: 1.5px;
  -webkit-box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
  -moz-box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
  box-shadow: 4px 7px 11px -10px rgba(66, 68, 90, 1);
}
/*buttons*/
.top_left, .top_right, .bot_left, .bot_right {
  width: 50%;
  height: 50%;
}

/*#region Media*/
@media only screen and (max-width: 1100px) {
  .container {
    margin-top: 4%;
    width: 600px;
    height: 600px;
  }
  .title_txt, .checkbutton, .search_image {
    margin-top: 2%;
  }
  .checkbutton, .search_btn {
    width: 15vw;
  }
  .search_input {
    width: 30vw;
  }
}
@media only screen and (max-width: 870px) {
  .container {
    width: 500px;
    height: 500px;
  }
  .title_txt, .checkbutton, .container {
    margin-top: 9%;
  }
  .checkbutton {
    width: 18vw;
  }
  .search_input {
    width: 40vw;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    margin-top: 18%;
    width: 350px;
    height: 350px;
  }
  .title {
    text-align: center;
  }
  .title_txt {
    margin-top: 12%;
  }
  .checkbutton, .search_btn {
    width: 25vw;
  }
  .search_image {
    margin-top: 5%;
  }
  .search_input {
    width: 50vw;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    margin-top: 25%;
    width: 300px;
    height: 300px;
  }
  .title_txt {
    margin-top: 13%;
  }
  .checkbutton {
    width: 25vw;
  }
}
/*#endregion Media */